/* Container principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-image: url(./static/img/Fundo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

/* Fundo sobreposto */
.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--indigo-transparent);
}

/* Seção do formulário */
.login-form-container {
  z-index: 1;
  width: 50vh;
  margin-top: 80px;
}

/* Formulário */
.login-form-container {
  z-index: 1;
  max-width: 70vw;
  margin: auto; /* Centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  height: 100%; /* Garante que o container ocupe toda a altura disponível */
}

/* Logo */
.login-logo {
  width: 100%;
  margin-bottom: 30px;
}

/* Rótulos dos campos */
.login-label {
  color: var(--lavender-light);
  font-size: 16px;
  text-align: start;
  margin: 18px 0 5px;
}

/* Campos de entrada */
.login-input {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Aumentando o espaço entre os inputs */
}

/* Campos de entrada individuais */
.login-input .input-field {
  margin-bottom: 20px; /* Adicionando um espaçamento maior entre os inputs */
}

/* Texto de destaque */
.login-destaque {
  font-size: 24px;
}

/* Parágrafos e links */
.login-forgot {
  color: var(--lavender-light);
  font-size: 16px;
  margin-top: 10px;
}

.login-link {
  color: var(--lavender-light);
  font-size: 16px;
  font-weight: 700;
}

/* Divisória "ou" */
.login-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider-line {
  flex: 1;
  height: 1px;
  background-color: var(--lavender-light);
}

.divider-text {
  margin: 0 10px;
  color: var(--lavender-light);
  font-size: 16px;
}

/* Botões */
.login-buttons {
  margin: 30px 0px 30px 0px;
}