.input-container {
    gap: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 6px;
}

.style-input-1 {
    color: #F8F6F9;
    font-weight: bold;
}

.style-input-1 input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 12px;
    outline: none;
    background: var(--lilac);
    margin-top: 5px;
}

.style-input-2 {
    color: #7E6B8C;
    font-weight: bold;
}

.style-input-2 input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
    background: white;
    margin-top: 5px;
}