.input-container {
    gap: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 6px;
}

.style-input-1 {
    color: var(--off-white);
    font-weight: bold;
}

.style-input-1 input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 12px;
    outline: none;
    background: var(--periwinkle);
    margin-top: 5px;
}

.style-input-2 {
    color: var(--purple-gray);
    font-weight: bold;
}

.style-input-2 input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--border-input);
    font-size: 1rem;
    outline: none;
    background: var(--white);
    margin-top: 5px;
}