.custom-button {
    width: 100%;
    border-radius: 12px;
}

.custom-button-type-1 {
    background-color: var(--indigo-solid);
    color: white;
}

.custom-button-type-1:hover {
    background-color: var(--indigo-solid-hover);
    color: white;
}

.custom-button-type-2 {
    background-color: var(--lavender-pale);
    color: var(--purple-gray);
}

.custom-button-type-2:hover {
    background-color: var(--lavender-pale-hover);
    color: var(--purple-gray);
}

.custom-button-type-3 {
    background-color: var(--deep-indigo);
    color: white;
    text-align: center;
}

.custom-button-type-3:hover {
    background-color: var(--deep-indigo-hover);
    color: white;
}

button {
    padding: 12px 21px 12px 21px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button:disabled {
    background-color: #cccccc !important;
    cursor: not-allowed;
}