.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--lightgray-color);
    color: var(--lightgray-color-font);
    border-radius: 12px;
    padding: 20px;
    min-width: 28vw;
    max-width: 90vw;
    min-height: 100px;
    max-height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-close {
    background-color: var(--off-white-color);
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 8px;
}

.modal-body {
    background-color: var(--graybody-color);
    border-radius: 12px;
    padding: 12px 20px 12px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.title {
    border-bottom: 1px solid var(--lightgray-color-font);
    padding-bottom: 5px;
    width: 100%;
}