.dashboard {
    padding: var(--padding-input);
    border-radius: var(--border);
    border: 1px solid var(--lavender-pale);
    backdrop-filter: blur(8px);
}

.parameter-chart {
    padding: var(--padding-input);
    border-radius: var(--border);
    border: 1px solid var(--lavender-pale);
    backdrop-filter: blur(8px);
    margin-bottom: var(--padding-input);
}

.section-title__dashboard {
    color: var(--indigo-solid);
    font-size: var(--title-font);
    font-weight: 700;
    letter-spacing: 0.5px;
}

.filter-type {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.station-tab__filter{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
}