.LandingPage {
    display: flex;
    flex-direction: column;
    padding: var(--padding-global);
    background-color: var(--lavender);
}

.LandingPage h1, .LandingPage h2 {
    font-size: 56px;
    color: var(--black);
    font-weight: 700;
}

.LandingPage p {
    color: var(--mulberry);
}

.LandingPageHeader {
    display: flex;
    padding: 0 20px;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #5751d400, #5751d485);
    border-radius: 0 0 24px 24px;
    margin-bottom: 64px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.headerContent img {
    width: 190px;
}

.headerContent .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.headerContent .navBar a {
    color: var(--mulberry);
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin: 0 20px;
}

.headerContent .navBar a:hover {
    color: var(--deep-indigo);
}

.LandingPageHeader h1 {
    margin-top: 64px;
    margin-bottom: 12px;
    text-align: center;

}

.LandingPageHeader p {
    font-weight: 900;
    margin-bottom: 64px;
    text-align: center;
}

/* SECTION */

.LandingPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.LandingPageContent p {
    font-weight: 700;
}

.contentMeteorologico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}


.contentMeteorologico div {
    width: 50%;
}

.contentMeteorologico img {
    width: 50%;
    max-width: 500px;
}


.contentMeteorologico:nth-child(even) {
    flex-direction: row-reverse;
}

@media (max-width: 1500px) {
    .LandingPage {
        padding: 12px 100px;
    }

    .headerContent .navBar a {
        margin: 0 10px;
    }
    
}

@media (max-width: 1200px) {
    .LandingPage {
        padding: 12px 50px;
    }

    .headerContent .navBar {
        display: none;
    }

    .headerContent .navBar a {
        margin: 0 10px;
    }
}

@media (max-width: 850px) {
    .LandingPage h1 {
        margin-top: 50px;
    }
}

@media (max-width: 700px) {
    .LandingPage {
        padding: 12px 10px;
    }

    .headerContent .navBar {
        display: none;
    }

    .headerContent .navBar a {
        margin: 0 10px;
    }

    .contentMeteorologico {
        flex-direction: column;
        gap: 64px;
    }

    .contentMeteorologico img {
        width: 100%;
    }

    .contentMeteorologico div {
        width: 100%;
    }

    .contentMeteorologico:nth-child(even) {
        flex-direction: column;
    }

    .headerContent img {
        width: 150px;
    }
    
    .LandingPage h1, .LandingPage h2 {
        font-size: 36px;
    }
}