:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --off-white-color: #FAFAFA;
    --lightgray-color: #F3F4F8;
    --font-color: #EFEBFC;
    --lilac: #9993DA;
    --backgroud-blue: #383481E5;
    --dark-blue: #5751D4;
}